.swg--paywall-prompt span {
	opacity: 0.5;
}

body:not(.swg--is-amp) article:not(.swg--page-is-unlocked) .swg--locked-content {
	display: none;
}

body:not(.swg--is-amp) article.swg--entitlements-have-loaded .swg--paywall-checking-entitlements {
	display: none;
}

body:not(.swg--is-amp) article:not(.swg--page-is-locked) .swg--paywall-prompt {
	display: none;
}

body:not(.swg--is-amp) article:not(.swg--entitlements-have-loaded) .swg--paywall-prompt {
	display: none;
}

html[amp] [href="#swg-contribute"] {
	display: none;
}

button.swg-button {
	background-color: white !important;
}

button.swg-button:hover {
	background-color: #f8f8f8 !important;
}
