.swg--paywall-prompt span {
	opacity: 0.5;
}

html:not([amp]) article:not(.swg--page-is-unlocked) .swg--locked-content {
	display: none;
}

html:not([amp]) article:not(.swg--page-is-locked) .swg--paywall-prompt {
	display: none;
}

html[amp] [href="#swg-contribute"] {
	display: none;
}

button.swg-button {
	background-color: white;
}
